
<div class="container">
    <div class="row mt-5" >
        <div  class="  col-md-4 col-sm-4  d-flex justify-content-center ">
            <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
              <img src="../../assets/images/schoolprogram.jpg" style="height:12rem;">
                <div class="card-header">school xproders</div>
                <div class="card-body">
                  <h5 class="card-title">For School  Beginners</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-4 d-flex justify-content-center " style=" height:100%;">
            <div class="card text-white bg-success mb-3 " style="max-width: 25rem;">
              <img src="../../assets/images/collegeprogram.jpg" style="height:12rem;">
                <div class="card-header">college xproders</div>
                <div class="card-body">
                  <h5 class="card-title">For college Beginners</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                    
                  </p>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-4 d-flex justify-content-center ">
            <div class="card text-white bg-danger mb-3" style="max-width: 25rem;">
              <img src="../../assets/images/professionalprogram.jpg" style="height:12rem;">
                <div class="card-header">professional xproders</div>
                <div class="card-body">
                  <h5 class="card-title">For professional</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>